* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background: radial-gradient(blue, green);
}

.container {
    width: 80%;
    margin: 80px auto;
}

.container h1 {
    padding: 60px 0;
    color: #fff;
    text-align: center;
    font-size: 44px;
}

.main-video {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.video {
    flex-basis: 70%;
    min-width: 250px;
}

.col2 {
    flex-basis: 30%;
    min-width: 250px;
    background: #fff;
    height: 100vh;
    border-radius: 6px;
    overflow-y: scroll;
}

.feature-img {
    width: 85%;
    margin: auto;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 300px;
}

.big-img {
    width: 100%;
}

.small-img-row {
    display: flex;
    background: #efefef;
    margin: 0px 0;
    align-items: center;
    border-radius: 0px;
    overflow: hidden;
    width: 100%;
}

.small-img {
    position: relative;
}

.small-img img {
    width: 150px;
    margin-bottom: -5px;
}

.small-img-row:hover {
    background: #2e8d86;
}

.small-img-row:hover p {
    color: #fff;
}

.small-img-row p {
    margin-left: 20px;
    color: #707070;
    line-height: 22px;
    font-size: 15px;
}

.play-btn {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.small-img .play-btn {
    width: 35px;
}

.video-player {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.close-btn {
    position: absolute;
    width: 30px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.pages a {
    text-decoration: none;
    font-weight: bolder;
    margin-left: 20px;
    background-color: rgb(121, 195, 238);
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
}

.pages a:hover {
    color: rgb(121, 195, 238);
    background-color: white;
}

h1 {
    color: white;
}

@media (max-width: 768px) {
    * {
        overflow: scroll;
    }

    .main-video {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .feature-img {
        width: 100%;
        margin: auto;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
    }

    .col2 {

        width: 80%;
        background: #fff;
        height: auto;
        border-radius: 6px;
        overflow-y: scroll;
    }
}